[user]
	name = jalho
	email = j.pd.alho@gmail.com
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-dirty = 1
[pull]
	rebase = true
[remote "origin"]
	#fetch = +refs/heads/*:refs/remotes/origin/*
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --pretty=format:'%C(auto)%h%d %s %C(bold black)<%aN>%Creset'
