[user]
	name = jalho
	email = j.pd.alho@gmail.com
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[pull]
	rebase = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[remote "origin"]
	#fetch = +refs/heads/*:refs/remotes/origin/*
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updaterefs = true
[merge]
	conflictstyle = zdiff3
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --pretty=format:'%C(auto)%h%d %s %C(bold black)<%aN>%Creset'
[color]
	pager = no
[core]
	pager = nvim -R
[pager]
	diff = false
	config = false
	branch = false
[oh-my-zsh]
	hide-dirty = 1
